In [ ]:
import numpy as np
import pandas as pd
import csv

In [ ]:
data = pd.read_csv('googleplaystore.csv', names = ['App','Category','Rating','Reviews','Size','Installs','Type','Price','Content','Genres','Last Update','Current Version','Android Version'],encoding = 'UTF-8')

In [ ]:
datarv= pd.read_csv('googleplaystore_user_reviews.csv',names = ['App','Translated','Sentiment','Sentiment_Polarity','Sentiment_Subjectivity'],encoding = 'UTF-8')

In [ ]:
mgdata = pd.merge(data,datarv,how = 'outer')

In [ ]:
mgdata.App

0                                                    App
1         Photo Editor & Candy Camera & Grid & ScrapBook
2                                    Coloring book moana
3                                    Coloring book moana
4                                    Coloring book moana
                               ...
134706                    Home Street ‚Äì Home Design Game
134707                    Home Street ‚Äì Home Design Game
134708                    Home Street ‚Äì Home Design Game
134709                    Home Street ‚Äì Home Design Game
134710                    Home Street ‚Äì Home Design Game
Name: App, Length: 134711, dtype: object

In [ ]:
mgdata.iloc[:, [2,3]]

        Rating  Reviews
0       Rating  Reviews
1          4.1      159
2          3.9      967
3          3.9      967
4          3.9      967
...        ...      ...
134706     NaN      NaN
134707     NaN      NaN
134708     NaN      NaN
134709     NaN      NaN
134710     NaN      NaN

[134711 rows x 2 columns]

In [ ]:
print(mgdata.isnull().sum(axis=0)) 
print('-'*30)

print(mgdata.isnull().sum(axis=1))

App                           0
Category                   2739
Rating                        0
Reviews                    2739
Size                       2739
Installs                   2739
Type                       2740
Price                      2739
Content                    2740
Genres                     2739
Last Update                2739
Current Version            2747
Android Version            2742
Translated                60607
Sentiment                 60597
Sentiment_Polarity        60597
Sentiment_Subjectivity    60597
dtype: int64
------------------------------
0          0
1          4
2          0
3          0
4          0
          ..
134706    15
134707    15
134708    11
134709    15
134710    15
Length: 134711, dtype: int64

In [ ]:
mgdata.dropna(subset = ['Translated'])
mgdata['Rating'].interpolate(method = 'linear')
mgdata.dropna(subset = ['Rating'])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content,Genres,Last Update,Current Version,Android Version,Translated,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,A kid's excessive ads. The types ads allowed a...,Negative,-0.25,1.0
3,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It bad >:(,Negative,-0.7249999999999999,0.8333333333333333
4,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,like,Neutral,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131965,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up,NaN,NaN,NaN,NaN
131967,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,NaN,NaN,NaN,NaN
131968,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,NaN,NaN,NaN,NaN
131970,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device,NaN,NaN,NaN,NaN
131971,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN

In [ ]:
mgdata['Rating']=mgdata['Rating'].astype(str)
mgdata.groupby(['App','Installs']).agg({'Rating':['sum','max','min']})

                                                            Rating
                                                               sum  max  min
App                                              Installs
"i DT" F√∫tbol. Todos Somos T√©cnicos.             500+          nan  nan  nan
+Download 4 Instagram Twitter                    1,000,000+    4.5  4.5  4.5
- Free Comics - Comic Apps                       10,000+       3.5  3.5  3.5
.R                                               10,000+       4.5  4.5  4.5
/u/app                                           10,000+       4.7  4.7  4.7
...                                                            ...  ...  ...
ÎΩïÌã∞ÎπÑ - Í∞úÏù∏Î∞©ÏÜ°, Ïù∏ÌÑ∞ÎÑ∑Î∞©ÏÜ°, BJÎ∞©ÏÜ°                          100,000+      nan  nan  nan
üíé I'm rich                                       10,000+       3.8  3.8  3.8
üíò WhatsLov: Smileys of love, stickers and GIF    1,000,000+    4.6  4.6  4.6
üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework! 10,000+       4.0  4.0  4.0
üî• Football Wallpapers 4K | Full HD Backgrounds üòç 1,000,000+    4.7  4.7  4.7

[9676 rows x 3 columns]

In [ ]:
pd.pivot_table(mgdata,index = 'App',values = ['Rating','Installs'],aggfunc = {'Rating':['sum','min','max'],'Installs':'count'})

                                                 Installs Rating
                                                    count    max  min  sum
App
"i DT" F√∫tbol. Todos Somos T√©cnicos.                    1    nan  nan  nan
+Download 4 Instagram Twitter                           1    4.5  4.5  4.5
- Free Comics - Comic Apps                              1    3.5  3.5  3.5
.R                                                      1    4.5  4.5  4.5
/u/app                                                  1    4.7  4.7  4.7
...                                                   ...    ...  ...  ...
ÎΩïÌã∞ÎπÑ - Í∞úÏù∏Î∞©ÏÜ°, Ïù∏ÌÑ∞ÎÑ∑Î∞©ÏÜ°, BJÎ∞©ÏÜ°                                 1    nan  nan  nan
üíé I'm rich                                              1    3.8  3.8  3.8
üíò WhatsLov: Smileys of love, stickers and GIF           1    4.6  4.6  4.6
üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework!        1    4.0  4.0  4.0
üî• Football Wallpapers 4K | Full HD Backgrounds üòç        1    4.7  4.7  4.7

[9715 rows x 4 columns]